@import "./base/reset";
@import "./mixin/mixin";

.container {
    padding-right: 15px;
    padding-left: 15px;
    @include md {
        padding-right: 150px;
        padding-left: 150px;
        
    }
    .sectionTitle {
        text-align: center;
        font-size: 2rem;
        border-bottom: 3px solid #51a2bc;
        margin: 0 auto;
        margin-bottom: 40px;
        color: #555555;
    }
}